/*========================
  1.2  Variable CSS start
==========================*/
/* font family */
$lexend: "Lexend", sans-serif;

/* color variables */
:root {
  --theme-color: 25, 150, 117;
  --title-color: 31, 31, 31;
  --content-color: 143, 143, 143;
  --box-bg: 245, 245, 245;
  --line-color: 233, 233, 233;
  --secondary-color: 255, 180, 0;
  --success-color: 32, 177, 73;
  --error-color: 255, 75, 75;
  --accent-color: 58, 109, 229;
  --white: 255, 255, 255;
  --black: 0, 0, 0;
}

.dark {
  --theme-color: 25, 150, 117;
  --content-color: 127, 131, 132;
  --title-color: 255, 255, 255;
  --white: 52, 52, 52;
  --black: 255, 255, 255;
  --box-bg: 31, 31, 31;
  --line-color: 65, 65, 65;
}
